<html>
<body>
<h1>HttpRequest Values</h1>

{% if error_message %}
<p>
    <strong><font color="#ff0000">{{error_message}}</font></strong>
</p>
{% endif %}

<h2>Cookies</h2>
<table>
{% for cookie,value in request.COOKIES.items %}
<tr><td>{{cookie}}</td><td>{{ value }}</td></tr>
{% empty %}
<tr><td>No cookies in request</td></tr>
{% endfor %}
</table>


<h2>Http Request Headers (request.META dict)</h2>
<table>
{% for key,value in request.META.items %}
    {% if key == 'HTTP_COOKIE' or key == 'CSRF_COOKIE' %}
        <!-- skip it -->
    {% else %}
    <tr><td>{{key}}</td><td>{{value}}</td></tr>
    {% endif %}
{% empty %}
    <tr><td>No META data</td></tr>
{% endfor %}
</table>


</body>
</html>
