{% extends "base.html" %}

{% block content %}

<h1>{{question.question_text}}</h1>

{% if error_message %}
<p><strong><font color="#ff0000">{{error_message}}</font></strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for c in question.choice_set.all|dictsort:"choice_text" %}
    <input type="radio" name="choice_id" id="choice{{ forloop.counter }}" value="{{c.id}}"/>
    <label for="choice{{forloop.counter}}">{{c.choice_text}}</label>
    </br>
{% endfor %}
<p></p>
<input type="submit" value="Vote"/>
</form>
<a href="{% url 'polls:index' %}">Back to Polls Index</a>

{% endblock %}
