<html>
<body>
<h2>Tutorial Application</h2>

<p>
Opinion Poll based on tutorial application from the official
<a href="https://docs.djangoproject.com/en/2.1/intro/tutorial01/">
Django Tutorial</a>.
</p>

<ul>
    <li><a href="{% url 'polls:index' %}">List of Poll Items</a></li>
    <li><a href="{% url 'info:index' %}">Http Request Details</a></li>
</ul>

<h3>Learn More</h3>
<p>
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Django">
    Server-side programming with Django</a> on the Mozilla Developer site
    contains useful information on Django and server-side programming,
    and an in-depth 
    <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Tutorial_local_library_website">
    Local Library</a> 
    tutorial application.
    Source for the application is on
    <a href="https://github.com/mdn/django-locallibrary-tutorial">Github</a>.
</p>
